.carousel-caption {
    color: rgb(255, 255, 255);
    text-shadow: -1px 1px 0 #000,
                          1px 1px 0 #000,
                         1px -1px 0 #000,
                        -1px -1px 0 #000;
}


.footer{
    text-align: center;
    display: flex;
    background-color: rgb(147, 138, 125);
}

.navbar{
    background-color:rgb(101, 101, 186);
}