<p>aboutus works!</p>
<!DOCTYPE html>
<html>
<head>
  <title>Mobile Management System</title>
  <style>
    /* Add your custom styles here */
  </style>
</head>
<body>
  <header>
    <h1> Welcome to Mobile Store Management System</h1>
  </header>
  
 <div class="admin-page">
  
  <main>
    <section id="overview">
      <h2>Overview</h2>
      <p>
        Mobile Store Management System provides inforamtion about the products which which are actually avaliable in a mobile store
      </p>
    </section>
    
    <section id="features">
      <h2>Features</h2>
      <ul>
        <li>All types mobile devices and airdopes chargers avaliable here</li>
        <li>We give you the proper information about the project</li>
        <li>Security and compliance management</li>
        <li>you book the mobile by paying the 25% of mobile price</li>
        <li>We will conform you once the booking is successfull</li>
        
      </ul>
    </section>
    
    <section id="pricing">
      <h2>Pricing</h2>
      <p>
        we have budget friendly mobiles and all type of latest mobile
      </p>
    </section>
    
    <section id="contact">
      <h2>Contact</h2>
      <p>
        Phone number:6303722412
        EmailId:arunK1939@gmail.com
        Help care:6303722412
      </p>
      <h2>Booking Order</h2>
      <p>
        enter the details
        <br>
        pay the 25% of mobile price to the given links to get the transcation id
         <br>
        GOOGLE PAY/PHONE PAY:-6303722412
      </p>
    </section>
  </main>
  
  
  </div>
</body>
</html>
